<thead>
  <tr>
    <th>Ruta</th>
    <th>
      Fecha: XX-XX-XX
      <table class="inner-table">
        <thead>
          <tr>
            <th>Viajes</th>
            <th>Cantidad</th>
          </tr>
        </thead>
      </table>
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <% if @records.empty? %>
      <td> No hay registros </td>
      <td> No hay registros </td>
    <% else %>
      <% @records.each_with_index do |record,index|%>
        <td> Viaje:<%= index %> </td>
        <td> <%= record.quantity %> </td>
      <% end %>
    <% end %>
  </tr>
</tbody>