<thead>
  <tr>
    <th>Ruta</th>
    <th>
      Fecha: XX-XX-XX
      <table class="inner-table">
        <thead>
          <tr>
            <th>Hora</th>
            <th>Pasajeros</th>
          </tr>
        </thead>
      </table>
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Ruta</td>
    <td>
      Fecha: XX-XX-XX
      <table class="inner-table">
        <tbody>
          <tr>
            <td>Hora</td>
            <td>Pasajeros</td>
          </tr>
        <tbody>
    </td>
  </tr>
</tbody>