 <table class="table table-striped table-bordered table-hover" id="records-table">
  <thead>
    <tr>
      <th>Viajes</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <% if @records.empty? %>
      <tr>
        <td> No hay registros </td>
        <td> No hay registros </td>
      </tr>
    <% else %>
      <% @records.each_with_index do |record,index|%>
        <tr>
          <td> Viaje:<%= index %> </td>
          <td> <%= record.quantity %> </td>
        </tr>      
      <% end %>
    <% end %>
  </tbody>
</table>