<br>
<br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Total de pasajeros</h3>
  </div>
  <div class="panel-body">
    <% if @passenger_quantity.empty? %>
        No hay registros
    <% else %>
        <strong>
            <%= @passenger_quantity["passengerQuantity"] %>
        </strong>
    <% end %>
  </div>
</div>

