// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#passengersSlider.slider.slider-horizontal{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 45px;
  .slider-selection{
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #777 100%);
  }
  .slider-track{
    height: 1.7em;
  }
  .slider-handle.round{
    border-radius: 30%;
  }
  .slider-handle{
    margin-top: auto;
    width: 3.5%;
    height: 100%;
  }
}
