// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#passengersSlider.slider.slider-horizontal{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 45px;
  .slider-selection{
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #777 100%);
  }
  .slider-track{
    height: 1.7em;
  }
  .slider-handle.round{
    border-radius: 30%;
  }
  .slider-handle{
    margin-top: auto;
    width: 3.5%;
    height: 100%;
  }
}
#records-table{

  .bus-plate {
      display: inline-block;
      width: 4.2em;
      margin-right: 0.2em;
  }
}
#search-block{
  border: 2px black ridge; 
  padding-bottom: 0.2em;
  
  .btn-primary.full-length {
    margin: 2em 0 0;
    width: 333px;
    float: right;
  }
  #date-route-bus{
    border: 2px solid #337AB7;
    margin: 3px 0 0;
    width: 100%;
  }
  @media (min-width: 767px){
    border: none
  }
  @media (min-width: 768px) {
    border-bottom: 2px black ridge;
    .btn-primary.full-length {
      margin: 0 ;
      width: 100%;
      float: none;
    }
    #date-route-bus{
      margin-left: 25px;
    } 
  }
  p{
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  .select-style {
    padding: 0;
    margin: 3px 0 0 0px;
    border: 2px solid #337AB7;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    height: 28px;
    background: #fff ;
    select {
      font-size: 14px;
      padding: 2px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: rgba(226, 30, 30, 0);
      background-image: none;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }

    select:focus {
      outline: none;
    }
  }
}

