<div id="page-wrapper" style="min-height: 650px;">
    <div class="container-fluid autobuses">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Autobuses
                    <% if current_user.admin? %>
                        <%= link_to new_bus_path, remote: true, class: "btn-lg btn-default" do %>
                            <i class="fa fa-bus fa-fw"></i> Crear
                        <% end  %>
                    <% end  %>
                </h1>
                <%= flash_import(flash) %>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row search">
            <div class="col-lg-12">
               
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div id="content" class="col-lg-12">

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>