<!DOCTYPE html>
<html>
<head>
  <title>Conatra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
   <h4>header</h4>
<% end%>

<%= yield %>

<% if user_signed_in? %>
   <h4>footer</h4>
<% end%>

</body>
</html>
